  .sidebar.expanded {
    width: 200px;
  }

  .sidebar.collapsed {
    padding: 0px;
    width: 0px;
  }

  .content {
    height: 100%;
    background-color: #333;
    color: #fff;
    width: 0px;
    transition: width 0.3s ease;
    overflow: hidden;
    padding: 10px 1px;
    position: fixed;
  }

  .content.open {
    width: 200px;
  }

  .content ul {
    list-style: none;
    padding: 0 10px;
    padding-right: 20px;
    margin: 0;
  }

  .content ul li {
    margin: 15px 0;
  }

  .content ul li a {
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 3px 20px;
    display: block;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .content ul li a:hover {
    background-color: #404040;
    transform: scale(1.1);
  }
  