.App {
  display: flex;
  height: 100vh;          /* Full viewport height */
  flex-direction: column; /* Ensures children stack vertically */
}


.heading {
  font-size: 40px;
  margin: 0;
  color: black;
  z-index: 1;
  text-align: center;
}